.slider {
    z-index: 1;
    &__item {
        height: 670px!important;
        background-size: cover;
        background-position: center center;

        &-text {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-left: auto;
            flex-wrap: wrap;
            font-size: 58px;
            flex-direction: column;
            font-weight: 600;
            letter-spacing: 0.9px;
            line-height: 1.15;
            padding: 160px 0 160px 20px;
        }
    }

    .wrapper {
        height: 100%;
    }

    .slick-dots {
        bottom: 139px;
        left: calc(50% + 10px);
        width: auto;

        li {
            button {
                &:before {
                    content: '';
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 8px;
                    height: 8px;
                    background-color: @white;
                    opacity: 1;
                    border: 2px solid @white;
                    border-radius: 100px;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                        border: 3px solid @violet;
                        background: none;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}