.service-page {
    position: relative;

    .team-block {
        padding: 94px 0 115px;

        &__title {
            font-size: 60px;
        }
    }

    .lines {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        pointer-events: none;

        &__wrap {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        &__item {
            width: 1px;
            height: 100%;
            background-color: rgba(234, 234, 234, 0.05);
            //background-color: @white;
            position: absolute;
            right: 0;
            top: 0;

            &:nth-of-type(4) {
                right: 200px;
            }

            &:nth-of-type(3) {
                right: 400px;
            }

            &:nth-of-type(2) {
                right: 600px;
            }

            &:nth-of-type(1) {
                right: 800px;
            }
        }
    }
}

.services {

    &_mainpage {
        background-color: @darkBlue;
        padding: 95px 0 68px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 100%;
            height: 1px;
            background-color: #564461;
        }

        &:after {
            content: '';
            position: absolute;
            left: calc(61% - 4px);
            top: -9px;
            width: 4px;
            height: 46px;
            background-color: @green;
        }

        .services__content {
            display: flex;
            flex-wrap: wrap;
            counter-reset: item;
            margin-top: 34px;            
        }

        .services__item {
            width: calc(50% - 60px);
            position: relative;
            counter-increment: item;
            font-size: 15px;
            font-weight: 700;
            margin: 0 30px 44px;
            padding: 0 0 0 60px;
            line-height: 1.2;

            &:before {
                content: counter(item);
                position: absolute;
                left: 0;
                top: -10px;
                border: 2px solid @green;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 35px;
                border-radius: 100px;
            }
        }
    }
}

.services-list {
    .lines {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        pointer-events: none;

        &__wrap {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        &__item {
            width: 1px;
            height: 100%;
            background-color: rgba(234, 234, 234, 0.05);
            //background-color: @white;
            position: absolute;
            right: 0;
            top: 0;

            &:nth-of-type(4) {
                right: 200px;
            }

            &:nth-of-type(3) {
                right: 400px;
            }

            &:nth-of-type(2) {
                right: 600px;
            }

            &:nth-of-type(1) {
                right: 800px;
            }
        }
    }

    &__head {
        background-color: @darkerBlue;
        padding: 23px 0 102px;

        .services-list__wrap {
            display: flex;
            align-items: flex-start;
        }
    }

    &__img {
        min-width: 366px;
        width: 366px;
        text-align: center;
    }

    &__content {
        margin-left: 14px;
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 4px;
            height: 46px;
            background-color: @violet;
        } 

        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.7;
            margin: 25px 0;

            &:first-of-type {
                margin-top: 9px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        background-color: @darkBlue;
        padding: 92px 0;
        margin-bottom: -95px;

        .services-list__wrap {
            display: flex;
            flex-wrap: wrap;
            position: relative;
    
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -2px;
                width: 4px;
                height: 46px;
                background-color: @violet;
            }
        }
    }

    &__item {
        display: block;
        width: calc(100% / 3);
        text-align: center;
        position: relative;
        padding: 0 15px;
        margin-bottom: 118px;

        &-icon {
            text-align: center;
            margin-bottom: 22px;
        }

        &-name {
            font-size: 20px;
            color: @violet;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.2;
        }

        &-link {
            font-weight: 300;
            font-size: 15px;
        }
          
        &-count {
            font-size: 20px;
            color: @white;
            opacity: 0.051;
            font-weight: 600;
            position: absolute;
            top: -5px;
            right: 59px;
        }
    }
}

.services-detail {
    &__head {
        background-color: @darkerBlue;
        padding: 23px 0 123px;

        .services-detail__wrap {
            display: flex;
            align-items: flex-start;
        }
    }

    &__img {
        min-width: 233px;
        width: 233px;
        text-align: center;
    }

    &__content {
        margin-left: 147px;
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 4px;
            height: 46px;
            background-color: @violet;
        } 

        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.7;
            margin: 25px 0;

            &:first-of-type {
                margin-top: 9px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__descr {
        background-color: #eff4f8;
        padding: 95px 0 90px;        

        .services-detail__wrap {
            display: flex;
            position: relative;
        }

        &-head {
            min-width: 399px;
        }

        &-title {
            font-size: 60px;
            color: @darkerBlue;
            font-weight: 600;
            margin: 0 0 23px;
        }

        &-subtitle {
            font-size: 9px;
            font-weight: 300;
            color: @darkerBlue;
            margin: 0;
            text-transform: uppercase;
        }

        .services-detail__list {
            color: @darkerBlue;
            position: relative; 
        }

        .services-detail__item {
            display: flex;
            align-items: center;
            
            &:not(:last-of-type) {
                margin-bottom: 80px;
            }

            &-img {
                width: 160px;
                min-width: 160px;
                height: 160px;
                border-radius: 100px;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-content {
                padding-left: 61px;
            }

            &-date {
                color: @violet;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 14px;
            }

            &-text {
                margin-bottom: 19px;
                p {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.35;
                    margin: 0;
                }
            }

            &-more {
                font-size: 13px;
                font-weight: 700;
                position: relative;
                color: @green;
        
                &:after {
                    content: "";
                    position: absolute;
                    right: -28px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 16px;
                    height: 17px;
                    background-image: url("../img/icons/arrow-green.png");
                    background-size: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .service-page {
        .team-block {
            padding: 70px 0;
    
            &__title {
                font-size: 40px;
            }
        }
    
    }
    .services {
        &_mainpage {
            padding: 70px 0;

            .services__item {
                margin: 0 30px 30px;
            }
        }
    }

    .services-list {
        &__img {
            min-width: 223px;
            width: 223px;
        }

        &__content {
            margin-left: 60px;
        }

        &__item { 
            &-count {
                top: -25px;
            }
        }
    }

    .services-detail {
        &__img {
            min-width: 223px;
            width: 223px;
        }

        &__content {
            margin-left: 60px;
        }

        &__descr {
            &-head {
                min-width: auto;
                width: 33%;
            }

            .services-detail__list {
                width: 67%;
            }

            .services-detail__item {
                &-content {
                    padding-left: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .service-page {
        .lines {
            display: none;
        }
    }

    .services-list {
        &__item { 
            &-count {
                right: 30px;
            }
        }
    }

    .services-detail {
        &__descr {
            &-head {
                width: 30%;
            }

            &-title {
                font-size: 50px;
            }

            .services-detail__list {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .service-page {
        .team-block {
            padding: 40px 0;
    
            &__title {
                font-size: 30px;
            }
        }
    
    }

    .services {
        &_mainpage {
            padding: 70px 0 20px;
            .services__content {
                margin: 34px -20px 0;     
            }
    
            .services__item {
                width: calc(50% - 40px);
                margin: 0 20px 30px;
                font-size: 12px;

                &:before {
                    top: -12px;
                }
            }
        }
    }

    .services-list {
        &__head {
            padding: 23px 0 40px;
        }
        
        &__img {
            min-width: 120px;
            width: 120px;
        }

        &__content {
            padding-left: 25px;

            p {
                font-size: 12px;
            }
        }

        &__list {
            padding: 40px 0;
            margin-bottom: -41px;
        }

        &__item { 
            margin-bottom: 40px;
            width: calc(100% / 2);

            &-name {
                font-size: 15px;
            }

            &-link {
                font-size: 12px;
            }
        }
    }

    .services-detail {
        &__head {
            padding: 23px 0 40px;
        }

        &__img {
            min-width: 120px;
            width: 120px;
        }

        &__content {
            padding-left: 25px;

            p {
                font-size: 12px;
            }
        }

        &__descr {
            padding: 40px 0;
            .services-detail__wrap {
                display: block;
            }

            &-head {
                width: 100%;
            }

            &-title {
                font-size: 40px;
                margin: 0 0 13px;
            }

            .services-detail__list {
                width: 100%;
                margin-top: 40px;
            }

            .services-detail__item {
                &-date {
                    font-size: 12px;
                    margin-bottom: 14px;
                }
    
                &-text {
                    margin-bottom: 10px;
                    p {
                        font-size: 12px;
                    }
                }
    
                &-more {
                    font-size: 13px;
                }
            }
        }
    }

}

@media screen and (max-width: 576px) {
    .service-page {
        .team-block {    
            &__title {
                font-size: 25px;
            }
        }
    
    }

    .services {
        &_mainpage {
            .services__content {
                margin: 34px 0 0;     
            }

            .services__item {
                width: 100%;
                margin: 0 0 40px;
            }
        }
    }

    .services-list {

        &__head {
            .services-list__wrap {
                display: block;
                position: relative;
            }
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            min-width: auto;
        }

        &__content {
            padding-left: 25px;
            margin-left: 0;
        }

        &__list {
            .services-list__wrap {
                
                &:before {
                    display: none;
                }
            }
        }

        &__item { 
            padding: 0 5px;

            &-icon {
                max-width: 80px;
                margin-left: auto;
                margin-right: auto;
            }

            &-name {
                font-size: 12px;
            }

            &-count {
                font-size: 15px;
            }
        }
    }

    .services-detail {
        &__head {
            .services-detail__wrap {
                display: block;
                position: relative;
            }
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            min-width: auto;
        }

        &__content {
            padding-left: 25px;
            margin-left: 0;
        }

        &__descr {
            .services-detail__item {
                display: block;

                &:not(:last-of-type) {
                    margin-bottom: 60px;
                }    

                &-img {
                    margin-bottom: 20px;
                    display: block;
                }

                &-content {
                    padding-left: 0;
                }
            }
        }
    }
}