.servicepage {
    position: relative;

    .lines {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        pointer-events: none;

        &__wrap {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        &__item {
            width: 1px;
            height: 100%;
            background-color: rgba(234, 234, 234, 0.05);
            //background-color: @white;
            position: absolute;
            right: 0;
            top: 0;

            &:nth-of-type(4) {
                right: 200px;
            }

            &:nth-of-type(3) {
                right: 400px;
            }

            &:nth-of-type(2) {
                right: 600px;
            }

            &:nth-of-type(1) {
                right: 800px;
            }
        }
    }
}

.services {

    &_mainpage {
        background-color: @darkBlue;
        padding: 95px 0 68px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 100%;
            height: 1px;
            background-color: #564461;
        }

        &:after {
            content: '';
            position: absolute;
            left: calc(61% - 4px);
            top: -9px;
            width: 4px;
            height: 46px;
            background-color: @green;
        }

        .services__content {
            display: flex;
            flex-wrap: wrap;
            counter-reset: item;
            margin-top: 34px;            
        }

        .services__item {
            width: calc(50% - 60px);
            position: relative;
            counter-increment: item;
            font-size: 15px;
            font-weight: 700;
            margin: 0 30px 44px;
            padding: 0 0 0 60px;
            line-height: 1.2;

            &:before {
                content: counter(item);
                position: absolute;
                left: 0;
                top: -10px;
                border: 2px solid @green;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 35px;
                border-radius: 100px;
            }
        }
    }
}

.services-list {
    .lines {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        pointer-events: none;

        &__wrap {
            max-width: 1200px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
    
        &__item {
            width: 1px;
            height: 100%;
            background-color: rgba(234, 234, 234, 0.05);
            //background-color: @white;
            position: absolute;
            right: 0;
            top: 0;

            &:nth-of-type(4) {
                right: 200px;
            }

            &:nth-of-type(3) {
                right: 400px;
            }

            &:nth-of-type(2) {
                right: 600px;
            }

            &:nth-of-type(1) {
                right: 800px;
            }
        }
    }
    &.head {
        background-color: @darkerBlue;
        padding: 23px 0 102px;
    }

    &.list {
        background-color: @darkBlue;
        padding: 92px 0;
        margin-bottom: -95px;
    }

    &__head {
        display: flex;
        align-items: flex-start;
    }

    &__img {
        min-width: 366px;
        width: 366px;
        text-align: center;
    }

    &__content {
        margin-left: 14px;
        padding-left: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 4px;
            height: 46px;
            background-color: @violet;
        } 

        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.7;
            margin: 25px 0;

            &:first-of-type {
                margin-top: 9px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 4px;
            height: 46px;
            background-color: @violet;
        }
    }

    &__item {
        display: block;
        width: calc(100% / 3);
        text-align: center;
        position: relative;
        padding: 0 15px;
        margin-bottom: 118px;

        &-icon {
            text-align: center;
            margin-bottom: 22px;
        }

        &-name {
            font-size: 20px;
            color: @violet;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.2;
        }

        &-link {
            font-weight: 300;
            font-size: 15px;
        }
          
        &-count {
            font-size: 20px;
            color: @white;
            opacity: 0.051;
            font-weight: 600;
            position: absolute;
            top: -5px;
            right: 59px;
        }
    }
}